@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jersey+10&display=swap");
@import "tailwindcss";
@theme {
  --font-jersey: "Jersey 10", sans-serif;
  --font-ibm-plex-mono: "IBM Plex Mono", monospace;
}

@custom-variant dark (&:where(.dark, .dark *));
